name: flutter_dashboard
description: "Flutter Responsive Admin Panel"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  bloc: ^8.1.2
  flutter_bloc: ^8.1.3
  font_awesome_flutter: ^10.9.1
  countries_world_map: ^1.3.0
  google_fonts: ^6.2.1
  fl_chart: 1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

